<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FileSharingWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FileSharingWeb.styles.css" asp-append-version="true" />

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="laralink" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- Page Title -->
    <!-- Favicon Icon -->
    <link rel="icon" href="~/assets/img/favicon.png" />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/owlCarousel.min.css" />
    <link rel="stylesheet" href="~/assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/flaticon.css" />
    <link rel="stylesheet" href="~/assets/css/animate.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
</head>

<body>

    <body class="st-black-version">
        <div id="st-preloader">
            <div class="st-preloader-wave"></div>
            <div class="st-preloader-wave"></div>
            <div class="st-preloader-wave"></div>
            <div class="st-preloader-wave"></div>
            <div class="st-preloader-wave"></div>
        </div>
        <header class="st-header st-style1 st-sticky-menu st-full-width">
            <div class="st-main-header">
                <div class="container">
                    <div class="st-main-header-in">
                        <div class="st-site-branding">
                            <a class="st-logo-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <h4>File Sharing</h4>
                            </a>



                        </div>

                        <!-- For Site Title -->
                        <!-- <span class="st-site-title">
            <a href="index.html">Logo</a>
          </span> -->
                        <div class="st-nav-wrap st-fade-down">
                            <div class="st-nav-toggle st-style1">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <nav class="st-nav st-desktop-nav">
                                <ul class="st-nav-list onepage-nav">
                                    <li>
                                        <a class="smooth-scroll" asp-area="" asp-controller="Home"
                                            asp-action="Index">Home</a>
                                    </li>
                                    <li>
                                        <a class="smooth-scroll" asp-area="" asp-controller="Home"
                                            asp-action="Privacy">Privacy</a>
                                    </li>
                                    <li>
                                        <a class="smooth-scroll" asp-area="" asp-controller="Uploads"
                                            asp-action="Browse">Browse</a>
                                    </li>


                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li>
                                            <a class="smooth-scroll" asp-area="" asp-controller="Uploads"
                                            asp-action="Create">Uploads</a>
                                        </li>

                                        <li>
                                            <a class="smooth-scroll">@User.Identity.Name</a>
                                        </li>
                                        <li>
                                            <a class="smooth-scroll" asp-area="" asp-controller="Account"
                                            asp-action="Logout">Logout</a>
                                        </li>
                                    }
                                    else
                                    {

                                        <li>
                                            <a class="smooth-scroll" asp-area="" asp-controller="Account"
                                            asp-action="Login">Login</a>
                                        </li>
                                        <li>
                                            <a class="smooth-scroll" asp-area="" asp-controller="Account"
                                            asp-action="Register">Register</a>
                                        </li>
                                    }

                                </ul>



                            </nav><!-- .st-nav -->
                        </div><!-- .st-nav-wrap -->
                    </div>
                </div>
            </div>
        </header>
        <div class="st-content">

            @RenderBody()


        </div>

        <!-- Start Footer Seciton -->
        <footer class="st-site-footer st-style1 st-sticky-footer">
            <div class="st-main-footer text-center">
                <div class="container">
                    <div class="st-footer-logo">
                        <img src="~/assets/img/dark-img/logo.png" alt="demo">
                    </div>
                    <div class="st-footer-text">We understand that it is better to morph virally than to embrace
                        intuitively.<br>
                        We will matrix the power of schemas to redefine.</div>
                    <div class="st-footer-social">
                        <ul class="st-footer-social-btn st-flex st-mp0">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="st-copyright text-center">
                <div class="st-copyright-text">File Sharing App</a></div>
            </div>
        </footer>
        <!-- End Footer Seciton -->

        <!-- Scripts -->
        <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="~/assets/js/mailchimp.min.js"></script>
        <script src="~/assets/js/owlCarousel.min.js"></script>
        <script src="~/assets/js/tamjid-counter.min.js"></script>
        <script src="~/assets/js/wow.min.js"></script>
        <script src="~/assets/js/main.js"></script>
    </body>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
