html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-img-upload{
min-width: 369px;
min-height: 145px;
max-width: 369px;
max-height: 145px;
}
.home-card-img{
min-width: 387px;
min-height: 290px;
max-width: 387px;
max-height: 290px;
}

.uploads-header{
  background-image: url('../images/header.jpg');
}

.nav{
  font-weight: 500;
    font-size: 16px;
}